@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  max-width: 1170px;
  margin: auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}


.logo h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
}


.name {
  text-align: center;
  display: inline-block;
  padding: 0px 20px;
}

/* Header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  background-color: #313131;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}



#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 10rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}



/* End Header section */

/* navlist2 other pages */
#header .nav-list2 ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list2 ul.active {
  left: 0%;
}
#header .nav-list2 ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list2 ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 10rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list2 ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}


/* navlist2 other pages end*/

/* showcase Section */

/* End Hero Section */

/* info Section */
#infos .infos {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#infos .info-top {
  max-width: 500px;
  margin: 0 auto;
}
#infos .info-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#infos .info-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#infos .info-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}
#infos .info-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#infos .info-item h2 {
  font-size: 2rem;
  color: #0088a9;
  text-shadow: black;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#infos .info-item p {
  color: white;
  text-align: left;
}
/* End info Section */

/* info 2 section */
#infos .infos {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#infos .info2-top {
  max-width: 500px;
  margin: 0 auto;
}
#infos .info2-bottom {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 50px;
}

#infos .info2-item {
  flex-basis: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
}
#infos .info2-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: none;
  opacity: 0.9;
  z-index: -1;
}
#infos .info2-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#infos .info2-item h2 {
  font-size: 2rem;
  color: #0088a9;
  text-shadow: black;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#infos .info2-item p {
  color: white;
  text-align: left;
}

#infos .cta {
  color: black;
  padding: 3px 20px;
  margin: 1px 2px;
  font-size: 100%;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  list-style: none;
}
/* info 2 section ends */

/* Projects section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
#projects .project-info p {
  color: white;
}

#projects .project-info h3 {
  color: #0088a9;
}

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
#projects .project-img img {
  transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}
/* End Projects section */

/* About Section */

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col-left {
  width: 250px;
  height: 360px;
}
#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#about .col-right p {
  margin-bottom: 20px;
  margin-left: 30px;
}

#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid #c0c2fb;
  z-index: -1;
}

.team-section {
  background-color: white;
  min-height: 100vh;
  padding: 70px 15px 30px;
  margin-bottom: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.team-section .section-title {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.team-section .section-title h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  color: black;
  font-weight: 300;
}

.team-section .section-title p {
  font-size: 16px;
  text-align: center;
  margin: 15px 0 0;
  color: black;
}
.team-section .team-items {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team-section .team-items .item {
  flex-basis: calc(25% - 30px);
  max-width: calc(25% - 30px);
  transition: all 0.5s ease;
  margin-bottom: 120px;
}
.team-section .team-items .item img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.team-section .team-items .item .inner {
  position: relative;
  z-index: 11;
  padding: 0 15px;
}
.team-section .team-items .item .inner .info {
  background-color: #c0c2fb;
  text-align: center;
  padding: 20px 15px;
  border-radius: 8px;
  transition: all 0.5s ease;
  margin-top: -40px;
}
.team-section .team-items .item:hover .info {
  transform: translateY(-20px);
}
.team-section .team-items .item:hover {
  transform: translateY(-10px);
}
.team-section .team-items .item .inner .info h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.team-section .team-items .item .inner .info p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin: 10px 0 0;
}

.team-section .team-items .item .inner .info .social-links {
  padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  color: #c0c2fb;
  border-radius: 50%;
  margin: 0 2px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  transition: all 0.5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover {
  box-shadow: 0 0 10px #000;
}

/* End About Section */

/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
#contact .contact-items {
  width: 400px;
}
#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  min-height: 100px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #0088a9;
    font-weight: 500;
  }
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }

  /* showcase */
  #showcase h1 {
    font-size: 7rem;
  }
  /* End showcase */

  /* info Section */
  #infos .info-bottom .info-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End info Section */

  /* info2 Section */
  #infos .info2-bottom .info2-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End info2 Section */

  /* Project */
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /* End Project */

  /* About */
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid #0088a9;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1 {
    text-align: left;
  }

  #about .social-icon {
    display: flex;
    margin-bottom: 30px;
  }
  #about .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
  }
  #about .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
  }
  #about .social-item:hover img {
    filter: grayscale(0);
  }

  /* End About */

  /*Hex to bin*/
  #undctable {
    border: 2px solid#0088a9;
    border-radius: 4px;
    padding: 8px;
    margin-top: 15px;
  }
  /*margin-bottom: -90%;*/
  .ucdcinput {
    width: 200px;
    padding: 8px;
    font-size: 20px;
    outline: 0;
    background: none;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid #0088a9;
    width: 200px;
  }

  .bigtext {
    font-size: 18px;
  }

  .bigtext h2 {
    text-align: right;
    margin-right: 10px;
  }

  .cta h4 {
    font-size: 11px;
  }

  .bigtext h3 {
    text-align: left;
    margin-left: 10px;
  }

  .ucresulttext {
    padding: 5px 10px;
    font-size: 18px;
  }
  /* End Hex to bin */

  /* Unicode */
  #infos .row {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #infos .column {
    width: 350px;
    margin: -50px 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
  }

  #infos .column img {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 2px solid#0088a9;
  }

  #infos .column:hover {
    transform: scale(1.3);
    z-index: 2;
  }

  #infos .row::after {
    content: "";
    display: table;
    clear: both;
  }

  #infos .top {
    font-size: 30px;
    font-weight: 600;
    color: red;
  }

  #infos .text {
    text-align: center;
    font-weight: bold;
    color: #000;
  }

  #infos .info {
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    color: #000;
  }

  #infos .unicode-con {
    border: 2px solid#0088a9;
    width: 500px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 450px;
  }

  #infos .unicode-con input {
    font-size: 30px;
    margin: 10px 5%;
    width: 90%;
    background: none;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid #0088a9;
    width: 200px;
  }

  #infos .res {
    color: #0088a9;
    font-size: 20px;
    font-weight: bolder;
  }
  #infos .unicode-con button {
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
  }
  /* End unicode */

  /* BMI Calculator */
  #infos .bmi-cal {
    background-color: white;
    position: relative;
    width: 600px;
    min-height: 500px;
    margin: 40px;
  }

  #infos .bmi-cal::before {
    content: "";
    position: absolute;
    background-color: #0088a9;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

  #infos .bmi-cal hr {
    background: #0088a9;
    height: 5px;
    border: none;
    margin-bottom: 10px;
  }

  #infos .bmi-cal h1 {
    font-size: 25px;
    background-color: #0088a9;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }

  #infos .bmi-cal label {
    font-size: 20px;
    color: #0088a9;
    margin-left: 5%;
    font-weight: bold;
  }

  #infos .bmi-cal input {
    font-size: 30px;
    margin: 10px 5%;
    width: 90%;
    background: none;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid #0088a9;
    width: 400px;
  }

  #infos .bmi-cal button {
    font-size: 15px;
    font-weight: bold;
  }
  /* END BMI Calculator */

  /* ASCII Calculator */
  #infos .pic1 {
    align-items: center;
    height: 60%;
    width: 60%;
    position: relative;
  }

  #infos .top {
    font-size: 30px;
    font-weight: 600;
    color: red;
  }

  #infos .text {
    text-align: center;
    font-weight: bold;
    color: #000;
  }

  #infos .info {
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    color: #000;
  }

  #infos .ascii-con {
    border: 2px solid#0088a9;
    width: 500px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 450px;
  }

  #infos .ascii-con input {
    font-size: 30px;
    margin: 10px 5%;
    width: 90%;
    background: none;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid #0088a9;
    width: 200px;
  }

  #infos .res {
    color: #0088a9;
    font-size: 20px;
    font-weight: bolder;
  }
  #infos .ascii-con button {
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
  }
  /* END ASCII Calculator */

  /* contact  */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }
  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }
  #contact .contact-item .icon img {
    object-fit: contain;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  /* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* navlist2 */

  #header .nav-list2 ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list2 ul li {
    display: inline-block;
  }
  #header .nav-list2 ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list2 ul a:after {
    display: none;
  }
  /* navist2 end */

  #infos .info-bottom .info-item {
    flex-basis: 22%;
    margin: 1.5%;
  }

  #infos .info2-bottom .info-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
/* End  Media Query For Desktop */

/*responsive*/
@media (max-width: 991px) {
  .team-section .team-items .item {
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .team-section .team-items .item {
    flex-basis: calc(100%);
    max-width: calc(100%);
  }
}

@media only screen and (min-height: 700px) {
  .bmi-cal {
    width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 1px solid #0088a9;
  }
}
